<div class="list-group">
    <div class="list-group-item p-0" *ngFor="let post of postList">
        <app-post-item [post]="post"></app-post-item>
    </div>

    <div class="progress mt-3" *ngIf="loading">
        <div
            class="progress-bar progress-bar-striped progress-bar-animated w-100"
        ></div>
    </div>
    <div
        class="alert alert-info mt-3 text-center"
        *ngIf="!hasMore || (!loading && postList.length === 0)"
    >
        No more posts!
    </div>
    <div class="alert alert-danger mt-3 text-center" *ngIf="error">
        Error while loading posts!
    </div>
</div>
