<div class="modal-backdrop show"></div>
<div
    class="modal show d-flex align-items-center justify-content-center"
    (click)="dismiss($event.target)"
>
    <div class="position-relative">
        <a
            class="player__close position-absolute btn btn-danger btn-lg py-0"
            [routerLink]="[{ outlets: { modal: null } }]"
            >&times;</a
        >
        <ng-container *ngIf="(gfyData$ | async) as gfyData">
            <video
                class="player__video"
                preload="auto"
                controls
                loop
                [muted]="true"
                playsinline
                autoplay
            >
                <source
                    [src]="gfyData.url"
                    type="video/mp4"
                />
            </video>
        </ng-container>
    </div>
</div>
