<div class="modal-backdrop show"></div>
<div
    class="modal show d-flex align-items-center justify-content-center"
    (click)="dismiss($event.target)"
>
    <div class="position-relative">
        <a
            class="player__close position-absolute btn btn-danger btn-lg py-0"
            [routerLink]="[{ outlets: { modal: null } }]"
            >&times;</a
        >
        <video
            class="player__video"
            preload="auto"
            controls
            loop
            [muted]="true"
            playsinline
            autoplay
        >
            <!-- <source
                [src]="'https://giant.gfycat.com/' + gfyId + '.webm'"
                type="video/webm"
            />
            <source
                [src]="'https://giant.gfycat.com/' + gfyId + '.mp4'"
                type="video/mp4"
            /> -->
            <source
                [src]="'https://thumbs.gfycat.com/' + gfyId + '-mobile.mp4'"
                type="video/mp4"
            />
        </video>
    </div>
</div>
