.player__video {
    max-width: calc(100vw - 1rem);
    max-height: calc(100vh - 3rem);
    width: auto;
    height: auto;
}

@media (min-width: 768px) {
    .player__video {
        min-width: 640px;
    }
}

.player__close {
    top: 0;
    right: 0;
    border-radius: 0 0 0 0.2rem;
    opacity: 0.2;
    z-index: 100;
}

.player__close:hover {
    opacity: 1;
}
